<!DOCTYPE html>
<html lang="en" dir="ltr">

    <%- include('./layout/head', {title :'Page Title'}); %>


<body>
    <%- include('./layout/quickviewmodal'); %>
    <%- include('./layout/mobilemenu'); %>
    <!-- site -->
    <div class="site">
        <%- include('./layout/navbar',{fixed:true}); %>
     
        <!-- site__body -->
        <div class="site__body">
            <div class="page-header">
                <div class="page-header__container container">
                    <div class="page-header__breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a> <svg class="breadcrumb-arrow"
                                        width="6px" height="9px">
                                        <use xlink:href="/images/sprite.svg#arrow-rounded-right-6x9"></use>
                                    </svg></li>
                                <li class="breadcrumb-item"><a href="#"><%= currentProduct.category.name %> </a> <svg class="breadcrumb-arrow"
                                        width="6px" height="9px">
                                        <use xlink:href="/images/sprite.svg#arrow-rounded-right-6x9"></use>
                                    </svg></li>
                                <li class="breadcrumb-item active" aria-current="page"><%= currentProduct.name %> 
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="container">
                    <div class="product product--layout--standard" data-layout="standard">
                        <div class="product__content">
                            <!-- .product__gallery -->
                            <div class="product__gallery">
                                <div class="product-gallery">
                                    <div class="product-gallery__featured">
                                        <div class="owl-carousel" id="product-image">
                                            <% currentProduct.image.forEach(img => { %>
                                                <a href="img.path" target="_blank">
                                                    <img src="<%= img.path %> " alt=""> </a>
                                                                                                 
                                            <% }) %>

                                     
                                            
                                                </div>
                                    </div>
                                    <div class="product-gallery__carousel">
                                        <div class="owl-carousel" id="product-carousel">
                                            <% currentProduct.image.forEach(element => { %>
                                                <a href="#" class="product-gallery__carousel-item">
                                                    <img class="product-gallery__carousel-image"
                                                        src="<%= element.path %> " alt=""> </a>
     
                                            <% }) %>
                                            
                                                    
                                          
                                            
                                                </div>
                                    </div>
                                </div>
                            </div><!-- .product__gallery / end -->
                            <!-- .product__info -->
                            <div class="product__info">
                                <div class="product__wishlist-compare"><button type="button"
                                        class="btn btn-sm btn-light btn-svg-icon" data-toggle="tooltip"
                                        data-placement="right" title="Wishlist"><svg width="16px" height="16px">
                                            <use xlink:href="/images/sprite.svg#wishlist-16"></use>
                                        </svg></button> <button type="button" class="btn btn-sm btn-light btn-svg-icon"
                                        data-toggle="tooltip" data-placement="right" title="Compare"><svg width="16px"
                                            height="16px">
                                            <use xlink:href="/images/sprite.svg#compare-16"></use>
                                        </svg></button></div>
                                <h1 class="product__name"> <%= currentProduct.name  %>  </h1>
                                <div class="product__rating">
                                    <div class="product__rating-stars">
                                        <div class="rating">
                                            <div class="rating__body"><svg class="rating__star rating__star--active"
                                                    width="13px" height="12px">
                                                    <g class="rating__fill">
                                                        <use xlink:href="/images/sprite.svg#star-normal"></use>
                                                    </g>
                                                    <g class="rating__stroke">
                                                        <use xlink:href="/images/sprite.svg#star-normal-stroke"></use>
                                                    </g>
                                                </svg>
                                                <div class="rating__star rating__star--only-edge rating__star--active">
                                                    <div class="rating__fill">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                    <div class="rating__stroke">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                </div><svg class="rating__star rating__star--active" width="13px"
                                                    height="12px">
                                                    <g class="rating__fill">
                                                        <use xlink:href="/images/sprite.svg#star-normal"></use>
                                                    </g>
                                                    <g class="rating__stroke">
                                                        <use xlink:href="/images/sprite.svg#star-normal-stroke"></use>
                                                    </g>
                                                </svg>
                                                <div class="rating__star rating__star--only-edge rating__star--active">
                                                    <div class="rating__fill">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                    <div class="rating__stroke">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                </div><svg class="rating__star rating__star--active" width="13px"
                                                    height="12px">
                                                    <g class="rating__fill">
                                                        <use xlink:href="/images/sprite.svg#star-normal"></use>
                                                    </g>
                                                    <g class="rating__stroke">
                                                        <use xlink:href="/images/sprite.svg#star-normal-stroke"></use>
                                                    </g>
                                                </svg>
                                                <div class="rating__star rating__star--only-edge rating__star--active">
                                                    <div class="rating__fill">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                    <div class="rating__stroke">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                </div><svg class="rating__star rating__star--active" width="13px"
                                                    height="12px">
                                                    <g class="rating__fill">
                                                        <use xlink:href="/images/sprite.svg#star-normal"></use>
                                                    </g>
                                                    <g class="rating__stroke">
                                                        <use xlink:href="/images/sprite.svg#star-normal-stroke"></use>
                                                    </g>
                                                </svg>
                                                <div class="rating__star rating__star--only-edge rating__star--active">
                                                    <div class="rating__fill">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                    <div class="rating__stroke">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                </div><svg class="rating__star rating__star--active" width="13px"
                                                    height="12px">
                                                    <g class="rating__fill">
                                                        <use xlink:href="/images/sprite.svg#star-normal"></use>
                                                    </g>
                                                    <g class="rating__stroke">
                                                        <use xlink:href="/images/sprite.svg#star-normal-stroke"></use>
                                                    </g>
                                                </svg>
                                                <div class="rating__star rating__star--only-edge rating__star--active">
                                                    <div class="rating__fill">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                    <div class="rating__stroke">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product__rating-legend"><a href="#">7 Reviews</a><span>/</span><a
                                            href="#">Write A Review</a></div>
                                </div>
                                <div class="product__description"><%= currentProduct.description.desc %> </div>
                                <ul class="product__features">
                                    <li>Speed: 750 RPM</li>
                                    <li>Power Source: Cordless-Electric</li>
                                    <li>Battery Cell Type: Lithium</li>
                                    <li>Voltage: 20 Volts</li>
                                    <li>Battery Capacity: 2 Ah</li>
                                </ul>
                                <ul class="product__meta">
                                    <li class="product__meta-availability">Availability: <span class="text-success"><% if (currentProduct.available) { %>
                                     In Stock
                                    <% }else { %>
                                        Out of Stock
                                    <% } %>
                                    </span></li>
                                    <li>Brand: <a href="#"><%= currentProduct.brand.name %> </a></li>
                                    <li>SKU: 83690/32</li>
                                </ul>
                            </div><!-- .product__info / end -->
                            <!-- .product__sidebar -->
                            <div class="product__sidebar">
                                <div class="product__availability">Availability: <span class="text-success">In
                                        Stock</span></div>
                                <div class="product__prices">$1,499.00</div><!-- .product__options -->
                                <form class="product__options">
                                    <div class="form-group product__option"><label
                                            class="product__option-label">Color</label>
                                        <div class="input-radio-color">
                                            <div class="input-radio-color__list"><label
                                                    class="input-radio-color__item input-radio-color__item--white"
                                                    style="color: #fff;" data-toggle="tooltip" title="White"><input
                                                        type="radio" name="color"> <span></span></label> <label
                                                    class="input-radio-color__item" style="color: #ffd333;"
                                                    data-toggle="tooltip" title="Yellow"><input type="radio"
                                                        name="color"> <span></span></label> <label
                                                    class="input-radio-color__item" style="color: #ff4040;"
                                                    data-toggle="tooltip" title="Red"><input type="radio" name="color">
                                                    <span></span></label> <label
                                                    class="input-radio-color__item input-radio-color__item--disabled"
                                                    style="color: #4080ff;" data-toggle="tooltip" title="Blue"><input
                                                        type="radio" name="color" disabled="disabled">
                                                    <span></span></label></div>
                                        </div>
                                    </div>
                                    <div class="form-group product__option"
                                    ><label
                                            class="product__option-label">Material</label>
                                        <div class="input-radio-label">
                                            <div class="input-radio-label__list">
                                                <% currentProduct.subcategories.forEach(sub => { %>
                                                 
                                                    <label><input type="radio" name="material"> <span><%= sub.name %> </span></label>
                                                <% }) %>
                                               
                                                </div>
                                        </div>
                                    </div>
                                    <div class="form-group product__option"><label class="product__option-label"
                                            for="product-quantity">Quantity</label>
                                        <div class="product__actions">
                                            <div class="product__actions-item">
                                                <div class="input-number product__quantity"><input id="product-quantity"
                                                        class="input-number__input form-control form-control-lg"
                                                        type="number" min="1" value="1">
                                                    <div class="input-number__add"></div>
                                                    <div class="input-number__sub"></div>
                                                </div>
                                            </div>
                                            <div class="product__actions-item product__actions-item--addtocart"><button
                                                    class="btn btn-primary btn-lg">Add to cart</button></div>
                                            <div class="product__actions-item product__actions-item--wishlist"><button
                                                    type="button" class="btn btn-secondary btn-svg-icon btn-lg"
                                                    data-toggle="tooltip" title="Wishlist"><svg width="16px"
                                                        height="16px">
                                                        <use xlink:href="/images/sprite.svg#wishlist-16"></use>
                                                    </svg></button></div>
                                            <div class="product__actions-item product__actions-item--compare"><button
                                                    type="button" class="btn btn-secondary btn-svg-icon btn-lg"
                                                    data-toggle="tooltip" title="Compare"><svg width="16px"
                                                        height="16px">
                                                        <use xlink:href="/images/sprite.svg#compare-16"></use>
                                                    </svg></button></div>
                                        </div>
                                    </div>
                                </form><!-- .product__options / end -->
                            </div><!-- .product__end -->
                            <div class="product__footer">
                                <div class="product__tags tags">
                                    <div class="tags__list"><a href="#">Mounts</a> <a href="#">Electrodes</a> <a
                                            href="#">Chainsaws</a></div>
                                </div>
                                <div class="product__share-links share-links">
                                    <ul class="share-links__list">
                                        <li class="share-links__item share-links__item--type--like"><a href="#">Like</a>
                                        </li>
                                        <li class="share-links__item share-links__item--type--tweet"><a
                                                href="#">Tweet</a></li>
                                        <li class="share-links__item share-links__item--type--pin"><a href="#">Pin
                                                It</a></li>
                                        <li class="share-links__item share-links__item--type--counter"><a
                                                href="#">4K</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-tabs">
                        <div class="product-tabs__list"><a href="#tab-description"
                                class="product-tabs__item product-tabs__item--active">Description</a> <a
                                href="#tab-specification" class="product-tabs__item">Specification</a> <a
                                href="#tab-reviews" class="product-tabs__item">Reviews</a></div>
                        <div class="product-tabs__content">
                            <div class="product-tabs__pane product-tabs__pane--active" id="tab-description">
                                <div class="typography">
                                  
                                    <h3><%= currentProduct.description.title %> </h3>
                                    <p><%= currentProduct.description.desc %></p>
                                 
                                </div>
                            </div>
                            <div class="product-tabs__pane" id="tab-specification">
                                <div class="spec">
                                    <h3 class="spec__header">Specification</h3>
                                    <div class="spec__section">
                                        <h4 class="spec__section-title">General</h4>
                                        
                                        <% currentProduct.specification.forEach(spec => { %>
                                          
                                            <div class="spec__row">
                                                <div class="spec__name"><%= spec.title %> </div>
                                                <div class="spec__value"><%= spec.desc %> </div>
                                            </div>
                                        <% }) %>
                             
                                      
                                    </div>
                                   
                                    <div class="spec__disclaimer">Information on technical characteristics, the delivery
                                        set, the country of manufacture and the appearance of the goods is for reference
                                        only and is based on the latest information available at the time of
                                        publication.</div>
                                </div>
                            </div>
                            <div class="product-tabs__pane" id="tab-reviews">
                                <div class="reviews-view">
                                    <div class="reviews-view__list">
                                        <h3 class="reviews-view__header">Customer Reviews</h3>
                                        <div class="reviews-list">
                                            <ol class="reviews-list__content">
                                                <% review.forEach(data => { %>
                                                    <li class="reviews-list__item">
                                                        <div class="review">
                                                            <div class="review__avatar"><img
                                                                    src="/images/avatars/person.png" alt=""></div>
                                                            <div class="review__content">
                                                                <div class="review__author"><%= data.name %> </div>
                                                                <div class="review__rating">
                                                                    <div class="rating">
                                                                        <div class="rating__body">
                                                                            

                                                                            <% for( let index = 0; index < data.stars; index++ ) { %>
                                                                                <svg
                                                                                class="rating__star rating__star--active"
                                                                                width="13px" height="12px">
                                                                                <g class="rating__fill">
                                                                                    <use
                                                                                        xlink:href="/images/sprite.svg#star-normal">
                                                                                    </use>
                                                                                </g>
                                                                                <g class="rating__stroke">
                                                                                    <use
                                                                                        xlink:href="/images/sprite.svg#star-normal-stroke">
                                                                                    </use>
                                                                                </g>
                                                                            </svg>
                                                                            <div
                                                                                class="rating__star rating__star--only-edge rating__star--active">
                                                                                <div class="rating__fill">
                                                                                    <div class="fake-svg-icon"></div>
                                                                                </div>
                                                                                <div class="rating__stroke">
                                                                                    <div class="fake-svg-icon"></div>
                                                                                </div>
                                                                            </div>
                                                                            <% } %>
                                                                    
                                                                    
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="review__text">
                                                                    <%= data.review %> 
                                                                </div>
                                                                <div class="review__date"><%= data.createdAt %> </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                <% }) %>
                                               
                                       
                                            </ol>
                                            <div class="reviews-list__pagination">
                                                <ul class="pagination justify-content-center">
                                                    <li class="page-item disabled"><a
                                                            class="page-link page-link--with-arrow" href="#"
                                                            aria-label="Previous"><svg
                                                                class="page-link__arrow page-link__arrow--left"
                                                                aria-hidden="true" width="8px" height="13px">
                                                                <use
                                                                    xlink:href="/images/sprite.svg#arrow-rounded-left-8x13">
                                                                </use>
                                                            </svg></a></li>
                                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                    <li class="page-item active"><a class="page-link" href="#">2 <span
                                                                class="sr-only">(current)</span></a></li>
                                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                    <li class="page-item"><a class="page-link page-link--with-arrow"
                                                            href="#" aria-label="Next"><svg
                                                                class="page-link__arrow page-link__arrow--right"
                                                                aria-hidden="true" width="8px" height="13px">
                                                                <use
                                                                    xlink:href="/images/sprite.svg#arrow-rounded-right-8x13">
                                                                </use>
                                                            </svg></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <form class="reviews-view__form">
                                        <h3 class="reviews-view__header">Write A Review</h3>
                                        <div class="row">
                                            <div class="col-12 col-lg-9 col-xl-8">
                                                <div class="form-row">
                                                    <div class="form-group col-md-4"><label for="review-stars">Review
                                                            Stars</label> <select id="review-stars"
                                                            class="form-control">
                                                            <option>5 Stars Rating</option>
                                                            <option>4 Stars Rating</option>
                                                            <option>3 Stars Rating</option>
                                                            <option>2 Stars Rating</option>
                                                            <option>1 Stars Rating</option>
                                                        </select></div>
                                                    <div class="form-group col-md-4"><label for="review-author">Your
                                                            Name</label> <input type="text" class="form-control"
                                                            id="review-author" placeholder="Your Name"></div>
                                                    <div class="form-group col-md-4"><label for="review-email">Email
                                                            Address</label> <input type="text" class="form-control"
                                                            id="review-email" placeholder="Email Address"></div>
                                                </div>
                                                <div class="form-group"><label for="review-text">Your Review</label>
                                                    <textarea class="form-control" id="review-text" rows="6"></textarea>
                                                </div>
                                                <div class="form-group mb-0"><button type="submit"
                                                        class="btn btn-primary btn-lg">Post Your Review</button></div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .block-products-carousel -->
            <div class="block block-products-carousel" data-layout="grid-5">
                <div class="container">
                    <div class="block-header">
                        <h3 class="block-header__title">Related Products</h3>
                        <div class="block-header__divider"></div>
                        <div class="block-header__arrows-list"><button
                                class="block-header__arrow block-header__arrow--left" type="button"><svg width="7px"
                                    height="11px">
                                    <use xlink:href="/images/sprite.svg#arrow-rounded-left-7x11"></use>
                                </svg></button> <button class="block-header__arrow block-header__arrow--right"
                                type="button"><svg width="7px" height="11px">
                                    <use xlink:href="/images/sprite.svg#arrow-rounded-right-7x11"></use>
                                </svg></button></div>
                    </div>
                    <div class="block-products-carousel__slider">
                        <div class="block-products-carousel__preloader"></div>
                        <div class="owl-carousel">
                            <% products.forEach((product,i)=> { %>
                                
                                <div class="block-products-carousel__column">
                                    <div class="block-products-carousel__cell">
                                        <div class="product-card"><button class="product-card__quickview"
                                                type="button"><svg width="16px" height="16px">
                                                    <use xlink:href="images/sprite.svg#quickview-16"></use>
                                                </svg> <span class="fake-svg-icon"></span></button>
                                            <div class="product-card__badges-list">
                                                <% if (i%2==0) {%>
                                                <div class="product-card__badge product-card__badge--new">
                                                    New</div>
                                                    <% } else if (i==0){ %>
                                                    <div class="product-card__badge product-card__badge--sale">
                                                        Sale</div>
                                                        <% } else { %>
                                                    <div class="product-card__badge product-card__badge--hot">
                                                        Hot</div>
                                                        <% } %>
                                            </div>
                                            <div class="product-card__image"><a href="product-views/?id=<%= product._id %>">
                                                
                                                <img src="<%= product.image[0].path %>" alt="">
                                            </a>
                                            </div>
                                            <div class="product-card__info">
                                                <div class="product-card__name"><a
                                                        href="product-views/?id=<%= product._id %>"> <%= product.name%></a></div>
                                                <div class="product-card__rating">
                                                    <div class="rating">
                                                        <div class="rating__body"><svg
                                                                class="rating__star rating__star--active"
                                                                width="13px" height="12px">
                                                                <g class="rating__fill">
                                                                    <use
                                                                        xlink:href="images/sprite.svg#star-normal">
                                                                    </use>
                                                                </g>
                                                                <g class="rating__stroke">
                                                                    <use
                                                                        xlink:href="images/sprite.svg#star-normal-stroke">
                                                                    </use>
                                                                </g>
                                                            </svg>
                                                            <div
                                                                class="rating__star rating__star--only-edge rating__star--active">
                                                                <div class="rating__fill">
                                                                    <div class="fake-svg-icon"></div>
                                                                </div>
                                                                <div class="rating__stroke">
                                                                    <div class="fake-svg-icon"></div>
                                                                </div>
                                                            </div><svg
                                                                class="rating__star rating__star--active"
                                                                width="13px" height="12px">
                                                                <g class="rating__fill">
                                                                    <use
                                                                        xlink:href="images/sprite.svg#star-normal">
                                                                    </use>
                                                                </g>
                                                                <g class="rating__stroke">
                                                                    <use
                                                                        xlink:href="images/sprite.svg#star-normal-stroke">
                                                                    </use>
                                                                </g>
                                                            </svg>
                                                            <div
                                                                class="rating__star rating__star--only-edge rating__star--active">
                                                                <div class="rating__fill">
                                                                    <div class="fake-svg-icon"></div>
                                                                </div>
                                                                <div class="rating__stroke">
                                                                    <div class="fake-svg-icon"></div>
                                                                </div>
                                                            </div><svg
                                                                class="rating__star rating__star--active"
                                                                width="13px" height="12px">
                                                                <g class="rating__fill">
                                                                    <use
                                                                        xlink:href="images/sprite.svg#star-normal">
                                                                    </use>
                                                                </g>
                                                                <g class="rating__stroke">
                                                                    <use
                                                                        xlink:href="images/sprite.svg#star-normal-stroke">
                                                                    </use>
                                                                </g>
                                                            </svg>
                                                            <div
                                                                class="rating__star rating__star--only-edge rating__star--active">
                                                                <div class="rating__fill">
                                                                    <div class="fake-svg-icon"></div>
                                                                </div>
                                                                <div class="rating__stroke">
                                                                    <div class="fake-svg-icon"></div>
                                                                </div>
                                                            </div><svg
                                                                class="rating__star rating__star--active"
                                                                width="13px" height="12px">
                                                                <g class="rating__fill">
                                                                    <use
                                                                        xlink:href="images/sprite.svg#star-normal">
                                                                    </use>
                                                                </g>
                                                                <g class="rating__stroke">
                                                                    <use
                                                                        xlink:href="images/sprite.svg#star-normal-stroke">
                                                                    </use>
                                                                </g>
                                                            </svg>
                                                            <div
                                                                class="rating__star rating__star--only-edge rating__star--active">
                                                                <div class="rating__fill">
                                                                    <div class="fake-svg-icon"></div>
                                                                </div>
                                                                <div class="rating__stroke">
                                                                    <div class="fake-svg-icon"></div>
                                                                </div>
                                                            </div><svg class="rating__star" width="13px"
                                                                height="12px">
                                                                <g class="rating__fill">
                                                                    <use
                                                                        xlink:href="images/sprite.svg#star-normal">
                                                                    </use>
                                                                </g>
                                                                <g class="rating__stroke">
                                                                    <use
                                                                        xlink:href="images/sprite.svg#star-normal-stroke">
                                                                    </use>
                                                                </g>
                                                            </svg>
                                                            <div
                                                                class="rating__star rating__star--only-edge">
                                                                <div class="rating__fill">
                                                                    <div class="fake-svg-icon"></div>
                                                                </div>
                                                                <div class="rating__stroke">
                                                                    <div class="fake-svg-icon"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-card__rating-legend">9 Reviews</div>
                                                </div>
                                                <ul class="product-card__features-list">
                                                    <li>Speed: 750 RPM</li>
                                                    <li>Power Source: Cordless-Electric</li>
                                                    <li>Battery Cell Type: Lithium</li>
                                                    <li>Voltage: 20 Volts</li>
                                                    <li>Battery Capacity: 2 Ah</li>
                                                </ul>
                                            </div>
                                            <div class="product-card__actions">
                                                <div class="product-card__availability">Availability: <span
                                                        class="text-success">In Stock</span></div>
                                                <div class="product-card__prices"><%= product.price %> BDT</div>
                                                <div class="product-card__buttons"><button
                                                        class="btn btn-primary product-card__addtocart"
                                                        type="button">Add To
                                                        Cart</button> <button
                                                        class="btn btn-secondary product-card__addtocart product-card__addtocart--list"
                                                        type="button">Add To Cart</button> <button
                                                        class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist"
                                                        type="button"><svg width="16px" height="16px">
                                                            <use xlink:href="images/sprite.svg#wishlist-16">
                                                            </use>
                                                        </svg> <span
                                                            class="fake-svg-icon fake-svg-icon--wishlist-16"></span></button>
                                                    <button
                                                        class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__compare"
                                                        type="button"><svg width="16px" height="16px">
                                                            <use xlink:href="images/sprite.svg#compare-16">
                                                            </use>
                                                        </svg> <span
                                                            class="fake-svg-icon fake-svg-icon--compare-16"></span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <% }) %>
                        </div>
                    </div>
                </div>
            </div><!-- .block-products-carousel / end -->
        </div><!-- site__body / end -->

        <%- include('./layout/footer'); %>
    </div><!-- site / end -->
</body>

</html>